<div class="container">

  <div class="sub-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" placeholder="Old Password">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" placeholder="New Password">
    </mat-form-field>
  
    <button mat-raised-button color="warn">Change Password</button>
  </div>

  <div class="sub-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password">
    </mat-form-field>

    <button mat-raised-button color="warn">Remove User</button>
  </div>

</div>
