.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  margin-top: 40vh;
  transform: translate(0, -50%);
  .form {
    display: flex;
    flex-direction: column;
    mat-form-field {
      margin: 5px 0;
    }
  }
  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      width: 45%;
    }
  }
}

::ng-deep .custom-snack-bar {
  background-color: #70777a;
  color: #f44242;
  font-weight: bold;
  button {
    color: #f44242;
    font-weight: bold;
    &::before {
      content: "\2718";
      font-size: 22px;
    }
  }
}
